<body>
    <section class="header">
        <div class="text-box">
            <h1>
                Fitspace
            </h1>
            <p>
                Your all in one workout website.
                <br>
                Talk to trainers or just other people interested in fitness!
                <br>
                Or just simply track your progress and create workouts for you.
        </div>
    </section>

    <ul class="accordion">
        <li>
            <input type="radio" name="accordion" id="first" checked>
            <label for="first">Top Trainers</label>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </li>
        <li>
            <input type="radio" name="accordion" id="second">
            <label for="second">Top Gyms</label>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </li>
        <li>
            <input type="radio" name="accordion" id="third">
            <label for="third">Carousel</label>
            <div class="content">
                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex bd-highlight">
                                <div class="col-3 p-2 flex-fill bd-highlight"><img src="assets\legos_in_gym.jpg"
                                        class="slide-image" alt="..."></div>
                                <div class="card-text col-4 p-2 flex-fill bd-highlight">
                                    <P>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut
                                        labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                        laboris nisi ut
                                        aliquip
                                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                        velit
                                        esse cillum
                                        dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa
                                        qui officia
                                        deserunt mollit anim id est laborum.
                                    </P>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex bd-highlight">
                                <div class="col-3 p-2 flex-fill bd-highlight"><img src="assets\legos_in_gym.jpg"
                                        class="slide-image" alt="..."></div>
                                <div class="card-text col-4 p-2 flex-fill bd-highlight">
                                    <P>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut
                                        labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                        laboris nisi ut
                                        aliquip
                                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                        velit
                                        esse cillum
                                        dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa
                                        qui officia
                                        deserunt mollit anim id est laborum.
                                    </P>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex bd-highlight">
                                <div class="col-3 p-2 flex-fill bd-highlight"><img src="assets\legos_in_gym.jpg"
                                        class="slide-image" alt="..."></div>
                                <div class="card-text col-4 p-2 flex-fill bd-highlight">
                                    <P>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut
                                        labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                        laboris nisi ut
                                        aliquip
                                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                        velit
                                        esse cillum
                                        dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa
                                        qui officia
                                        deserunt mollit anim id est laborum.
                                    </P>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>

    <section class="about">
        <h1>
            About
        </h1>
        <div class="row">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>
</body>