<body>
    <section class="header">
        <div class="text-box">
            <h1>
                Fitspace
            </h1>
            <p>
                Your all in one workout website.
                <br>
                Talk to trainers or just other people interested in fitness!
                <br>
                Or just simply track your progress and create workouts for you.
        </div>
    </section>

    <section class="about">
        <h1>
            Bug Reporting
        </h1>
        <div class="row">
            <p>
                Our site is currently undergoing beta-testing. Any issues, problems, or suggestions you might have, please send to <a href="mailto:help.fitspace@yahoo.com">our email.</a> If you are reporting a bug, please be descriptive about what cause it.
            </p>
        </div>
    </section>


    <section class="about">
        <h1>
            About
        </h1>
        <div class="row">
            <p>
                Fitspace is a content platform for sharing fitness and wellbeing information to all. Workout routines, healthy diets, and fitness questions are all things you can find on this site.
                <br><br>
                When interacting with others on fitspace, be respectful and kind to others. Everyone is here with the same goal: self improvement. Inappropriate comments or posts will be removed.
                <br><br>
                If you are interested in becoming a verified trainer, send your application to <a href="mailto:help.fitspace@yahoo.com">our email.</a> Be sure to include your name, gym, and any certifications you think would help us in our decision-making process.
            </p>
        </div>
    </section>
</body>