<div class="d-flex justify-content-center" style="padding-top: 2.5%; padding-bottom: 2.5%;">
  <h1>Profile</h1>
</div>
<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="assets\avatar.svg" alt="student dp">
            <h5 class="my-3">{{displayname}}</h5>
            <p class="text-muted mb-1">{{admin}}</p>
            <p class="text-muted mb-1">{{trainerText}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>About</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Display Name</th>
                <td width="2%">:</td>
                <td>{{displayname}}</td>
                <td width="5%">
                  <button *ngIf="permission" (click)="editDisplayName()" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                  </button>
                </td>
              </tr>
              <tr>
                <th width="30%">Email</th>
                <td width="2%">:</td>
                <td>{{email}}</td>
                <td width="5%">
                  <button *ngIf="permission" (click)="editEmail()" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                  </button>
                </td>
              </tr>
              <tr>
                <th width="30%">Location</th>
                <td width="2%">:</td>
                <td>{{location}}</td>
                <td width="5%">
                  <button *ngIf="permission" (click)="editLocation()" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                  </button>
                </td>
              </tr>
              <tr>
                <th width="30%">Affiliation</th>
                <td width="2%">:</td>
                <td>{{affliate}}</td>
                <td width="5%">
                  <button *ngIf="permission" (click)="editAffliate()" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                  </button>
                </td>
              </tr>
              <tr>
                <th width="30%">Primary Service</th>
                <td width="2%">:</td>
                <td>{{primaryService}}</td>
                <td width="5%">
                  <button *ngIf="permission" (click)="editService()" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Bio</h3>
          </div>
          <div class="card-body pt-0">
            <p>{{bio}}</p>
            <button *ngIf="permission" (click)="editBio()" class="btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill=""
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="dividerthing">
  --------------------------------------------------------------------------------------------------------------------------------------
</p>
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">

            <li class="breadcrumb-item active" aria-current="page" style="margin-right: 3vw;">{{displayname}}</li>
            <button *ngIf="authorized" (click)="promoteTrainer()" class="btn btn-danger"
              style="font-size: 12px; margin-top: 1vh; margin-left: 0%; margin-right: 1vw">Promote to Trainer</button>
            <button *ngIf="authorized" (click)="promoteAdmin()" class="btn btn-danger"
              style="font-size: 12px; margin-top: 1vh; margin-left: 0%; margin-right: 1vw">Promote to Admin</button>
            <button *ngIf="authorized" (click)="demoteTrainer()" class="btn btn-danger"
              style="font-size: 12px; margin-top: 1vh; margin-left: 0%; margin-right: 1vw">Remove Trainer</button>
            <button *ngIf="authorized" (click)="demoteAdmin()" class="btn btn-danger"
              style="font-size: 12px; margin-top: 1vh; margin-left: 0%; margin-right: 1vw">Remove Admin</button>
            <button *ngIf="permission" (click)="editDisplayName()" class="btn btn-secondary"
              style="font-size: 12px; margin-top: 1vh; margin-left: 0%; margin-right: 1vw">Edit Display Name</button>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{displayname}}</h5>
            <p class="text-muted mb-1">{{admin}}</p>
            <p class="text-muted mb-1">{{trainerText}}</p>

            <div class="d-flex justify-content-center mb-2">

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">

          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">BIO</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{bio}}</p>
            </div>
            <div class="col-sm-9">
              <button *ngIf="permission" (click)="editBio()" class="btn btn-secondary"
                style="font-size: 12px; margin-top: 1vh; margin-left: 0%; margin-right: 1vw">Edit Bio</button>
            </div>

          </div>
          <hr>

          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{email}}</p>
            </div>
            <div class="col-sm-9">
              <button *ngIf="permission" (click)="editEmail()" class="btn btn-secondary"
                style="font-size: 12px; margin-top: 1vh; margin-left: 0%; margin-right: 1vw">Edit Email</button>
            </div>

          </div>
          <hr>

          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Location</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{location}}</p>
            </div>
            <div class="col-sm-9">
              <button *ngIf="permission" (click)="editLocation()" class="btn btn-secondary"
                style="font-size: 12px; margin-top: 1vh; margin-left: 0%; margin-right: 1vw">Edit Location</button>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Affiliate</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{affliate}}</p>
            </div>
            <div class="col-sm-9">
              <button *ngIf="permission" (click)="editAffliate()" class="btn btn-secondary"
                style="font-size: 12px; margin-top: 1vh; margin-left: 0%; margin-right: 1vw">Edit Affilation</button>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Primary Service</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{primaryService}}</p>
            </div>
            <div class="col-sm-9">
              <button *ngIf="permission" (click)="editService()" class="btn btn-secondary"
                style="font-size: 12px; margin-top: 1vh; margin-left: 0%; margin-right: 1vw">Edit Service</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>