<app-nav-bar></app-nav-bar>
<!-- Header -->
<div class="wrap">
  <div class="d-flex justify-content-center" style="padding-top: 2.5%; padding-bottom: 2.5%;">
    <h1>Community Page</h1>
  </div>
  <div class="d-flex justify-content-center" style="padding-bottom: 5%;">

<!-- Post rows -->
    <div>
      <div>
        <div class="d-flex flex-row" *ngFor="let postTrio of posts | chunk: 3">
          <div class="d-flex flex-column" *ngFor="let post of postTrio">
            <!-- Post data -->
            <app-post-component id={{post.postID}} PostTitle={{post.postTitle}} Username={{post.username}}
              PostID={{post.postID}} [Slides]="post.postSlides"></app-post-component>
          </div>
        </div>
      </div>
  </div>
</div>