<app-nav-bar></app-nav-bar>
<div class="d-flex justify-content-center" style="padding-top: 2.5%; padding-bottom: 5%;">
  <h1>Community Page</h1>
</div>

<app-post-component></app-post-component>


<div class="d-flex justify-content-center" style="padding-top: 2.5%; padding-bottom: 5%;">
  <h2>Trending Posts</h2>
</div>

<div class="d-flex justify-content-center" style="padding-top: 2.5%; padding-bottom: 5%;">
  <div class="container ">
    <div class="row allign-items-center">

      <div class="col">
        <app-exercise-post-card img="assets\example-posts\CARDIOMEME.jpg" title="@NevaLegDay"
          description="I aint go no time for cardio boi."></app-exercise-post-card>
      </div>


      <div class="col">
        <app-exercise-post-card img="assets\example-posts\DUMBELLDORE.jpg" title="@TheBoyWhoLifted"
          description="Thats my Headmaster FRFR"></app-exercise-post-card>
      </div>


      <div class="col">
        <app-exercise-post-card img="assets\example-posts\POKEMON.png" title="@LemmeGetAPeekAtCHU"
          description="ONG"></app-exercise-post-card>
      </div>



    </div>
  </div>
</div>


<div class="d-flex justify-content-center" style="padding-top: 2.5%; padding-bottom: 5%;">
  <h2>Recent Posts</h2>
</div>

<div class="d-flex flex-wrap justify-content-center">
  <div *ngFor="let txt of text"
    style="padding-left: 2.5%; padding-right: 2.5%; padding-bottom: 1.25%; padding-top: 1.25%;">
    <app-create-post-card title={{txt.title}} description={{txt.description}}></app-create-post-card>

    <p style="float: bottom;"><i>20 minutes ago</i></p>
  </div>

  <div *ngFor="let link of vid"
    style="padding-left: 2.5%; padding-right: 2.5%; padding-bottom: 1.25%; padding-top: 1.25%;">
    <app-create-post-card src={{link.src}} title={{link.title}} description={{link.description}}></app-create-post-card>

    <p style="float: bottom;"><i>43 minutes ago</i></p>
  </div>

  <div *ngFor="let pix of pic"
    style="padding-left: 2.5%; padding-right: 2.5%; padding-bottom: 1.25%; padding-top: 1.25%;">
    <app-create-post-card img={{pix.img}} title={{pix.title}} description={{pix.description}}></app-create-post-card>

    <p style="float: bottom;"><i>1 hour ago</i></p>
  </div>
</div>

<div class="d-flex justify-content-center" style="padding-top: 2.5%; padding-bottom: 5%;">
  <h2>Explore</h2>
</div>

<div class="d-flex flex-wrap justify-content-center">
  <div *ngFor="let item of cards"
    style="padding-left: 2.5%; padding-right: 2.5%; padding-bottom: 1.25%; padding-top: 1.25%;">
    <app-exercise-post-card img={{item.img}} title={{item.title}} description={{item.description}}>
    </app-exercise-post-card>
  </div>
</div>

<!-- This code here is testing out commenting  -->
<div *ngFor="let post of posts">
  <h2>{{ post.title }}</h2>
  <p>{{ post.body }}</p>
  <button (click)="viewComments(post.id)">View Comments</button>
</div>
<!-- END -->