body {

	background-color: #1e453e;
	min-height: 95vh;

}

.post {
	width: 27vw;
}

.content {
	/* margin-left: 350px; */
	margin: 1vw;
	/* background: #fff; */
	background: #ffffff;
	
	border: 1px solid #e6e6e6;
	padding: 3vh 2vw;
	border-radius: 3px;
	text-align: left;
	
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
  
	
  }


h2 {
	color: white;
}

label {
	color: white;
}

.second {
	width: 350px;
	background-color: white;
	border-radius: 4px;
	/* box-shadow: 5px 5px 4px #aaaaaa; */
}

.text1 {
	font-size: 16px;
	font-weight: 500;
	color: black;
}

.text2 {
	font-size: 13px;
	font-weight: 500;
	margin-left: 6px;
	text-decoration: none;
}

form {
	margin-left: 20vw;

}

textarea {
	width: 75%;
}

@media (max-width: 600px) {
	form {
		margin-left: 5vw;
	}

	textarea {
		width: 100%;
	}
}