<app-nav-bar></app-nav-bar>

<h2 id="PostTitle">Comments for Post: {{postTitle}}</h2>
<div *ngIf="postComments.length == 0">No comments just yet</div>
<ul>
  <!-- <li *ngFor="let comment of postComments">
    {{ comment.textData }}
  </li> -->
  <li *ngFor="let comment of postComments">
    <p>{{comment.textData}}<br></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="user/{{comment.userID}}">{{comment.username}}</a></p>
  </li>
</ul>

<!-- <form (ngSubmit)="addComment()"> -->
<form >
  <label>
    Add a comment:
    <!-- <input type="text" [(ngModel)]="newCommentText" name="newCommentText"> -->
    <textarea id="commentInput" class="new post-content" style="width:65%;"></textarea>
  </label>
  <button type="submit" (click)="addComment()">Submit</button>
</form>