<app-nav-bar></app-nav-bar>

<!-- Post Display -->

<body>
  <h2 id="PostTitle">Comments for Post: {{postTitle}}</h2>
  <button class="newestFirst" (click)="reverseComments()">Display Newest Comments First</button>
  <div *ngIf="postComments.length == 0">No comments just yet</div>
  <div class="d-flex flex-row ">
    <ul>
      <!-- Loop through comment data and display -->
      <div class="commentBox" *ngFor="let comment of postComments; let i = index">
        <div class="d-flex justify-content-start py-2">
          <div class="second py-2 px-2"> <span class="text1">{{comment.textData}}</span>
            <div class="d-flex justify-content-between py-1 pt-2">
              <div class="d-flex"><a href="user/{{comment.userID}}" style="text-decoration: none;"><span
                    class="text2">-{{comment.username}}</span></a></div>
                    <button *ngIf="comment.userID == currentUserID || authorized" (click)="deleteComment(comment)" class="btn btn-danger" style="font-size: 12px; margin-top: 1vh; margin-left: 0%;">Delete</button>
            </div>
           
          </div>
        </div>
      </div>
    </ul>


    <!-- Comment submission form -->
    
      <form>
        <label>
          Add a comment:
          <textarea id="commentInput" class="new post-content" style="width:75%;"></textarea>
        </label>
        <div>
          <button type="submit" (click)="addComment()">Submit</button>
        </div>
      </form>
    </div>
  
</body>