<app-nav-bar></app-nav-bar>
    <!-->just has username at top to identify you're signed in<!-->

<div class="d-flex justify-content-center" style="padding-top: 2.5%; padding-bottom: 5%;">
    <h2>Pick A Post Layout</h2>
    <!--->
    //has the three options to pick from- text, video, image
    //click on one and direct you to the layout?
    <!-->
    </div>

    <!--> Trying to figure out how to align these horizontally-->
    <div class="d-flex justify-content-center" style="padding-top: 2.5%; padding-bottom: 5%;">
        <div class="container ">
          <div class="row allign-items-center">
      
            <div class="text">
              <app-exercise-post-card title="@Text-layout"
                description="If you want to post your thoughts, questions, or concerns this is the post
                for you!"></app-exercise-post-card>
            </div>

            <p> </p>
      
      
            <div class="video">
              <app-exercise-post-card soruce="https://www.youtube.com/watch?v=IT94xC35u6k" title="@Video-layout"
                description="If you want to post a video and even add some text, this is the post for you!">
             </app-exercise-post-card>
            </div>
      
            <p> </p>
      
            <div class="image">
              <app-exercise-post-card img="https://i.pinimg.com/originals/c7/5c/c3/c75cc3de41f2bde25c6f303cc2cc658e.jpg" 
              title="@Image-layout"  description="If you wish to post an image with or without a caption, this is the post for you!">
            </app-exercise-post-card>
            </div>
      
      
      
          
        </div>
      </div>


