.post-container {
    margin-top: 12;
    margin-left: 12;
}
.post-container, .new-post-container{
    background: rgb(241, 241, 250);
    width: 50%;
    border-radius: 10px;

    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;

    margin-top: 3px;
    justify-self: center;
}

.new-post-container{
    display: flex;
}

.post-name, .post-content {
    padding-left: 15px;
    padding-right: 15px;
}

.post-name {
    font-size: 24px;
    font-weight: 500;
}

.post-content {
    margin: 0;
    font-size: 20px;
    margin-bottom: 2%;
}
