<app-nav-bar></app-nav-bar>
<div>
    <div style="background-color: #EEEEEE;">
        <div class="d-flex flex-row justify-content-center">
            <div class="about">
                <h1>
                    Welcome to FitSpace
                </h1>
                <p>
                    Your all in one workout website.
                    <br>
                    Talk to trainers or just other people interested in fitness!
                    <br>
                    Or just simply track your progress and create workouts for you.
                </p>
            </div>

        </div>

        <div class="links d-flex flex-row justify-content-center">

            <div class="boxes d-flex flex-column align-items-center">
                <h2>
                    MyActivity
                </h2>
                <p class="boxesText">
                    Track your workouts or Create new ones!
                </p>
                <a class="myActivity" href="MyActivity">

                </a>
            </div>

            <div class="boxes d-flex flex-column align-items-center">
                <h2>
                    Community Page
                </h2>
                <p class="boxesText">
                    Talk to others and receive workout advice!
                </p>
                <a class="community" href="Community">

                </a>
            </div>
        </div>
    </div>