<app-nav-bar></app-nav-bar>
<app-home-page-banner></app-home-page-banner>


<!-- Test button for database components -->
<!-- <button (click)="testCreateUser()">Test User Create</button>
<button (click)="testUpdateUser()">Test User Update</button>
<button (click)="testRemoveUser()">Test User Remove</button>
<button (click)="testLoadUser()">Test User Load</button> -->

<!-- <button (click)="testCreatePost()">Test Post Create</button>
<button (click)="testUpdatePost()">Test Post Update</button>
<button (click)="testRemovePost()">Test Post Remove</button>
<button (click)="testLoadPost()">Test PostLoad</button> -->