
.card{
    background-image: url("/assets/login-page-photo.jpg");
    background-color: #cccccc; 
    height: 1000px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    color: #006c67;
    font-size: 50px;
    font-weight: 1000;
    line-height: 1.2;
    margin-bottom: 0;
}
