<div class="post" id="self">
  <div class="content justify-content-center" style="padding-bottom: 0;">

    <!-- Heading -->
    <h3 class="justify-content-center">{{PostTitle}}</h3>

    <ul class="post-meta list-inline" style="margin-bottom: 2.5vh;">
      <li class="list-inline-item">
        <i class=""></i> <a href="user/{{userID}}">{{Username}}</a>
      </li>
    </ul>

    <!-- SLIDES -->
    <div [id]="'a'+PostID" class="carousel slide">
      <div class="carousel-inner">
        
        <div *ngFor="let slide of Slides let i = index" class="carousel-item" [ngClass]="{'active': i == 0 }"> 
        <!-- <div class="carousel-item active"> -->
          <app-slide-component imgURL={{slide.imgURL}} textData={{slide.textData}}></app-slide-component>
        </div>

      </div>

      <!-- SLIDE BUTTONS -->
      <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#a'+this.PostID"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#a'+this.PostID"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- End of Carosel -->

    <ul class="post-meta list-inline" >
      <li class="list-inline-item justify-content-end" >
        <div class="d-flex flex-row">
          <button (click)="viewComments(PostID, PostTitle)" class="btn btn-secondary" style="font-size: 12px">Comments</button>
          <p style="padding-left: 1vw;">{{commentCount}}</p>
        </div>

        <!-- Post control functionality -->
        <div class="d-flex flex-row">
          <button (click)="likePost(PostID)" class="btn btn-secondary" style="font-size: 12px; margin-top: 1vh;">{{likedText}}</button>
          <p style="padding-left: 1vw;">{{likeCount}}</p>
        </div>


        <button *ngIf="authorized" (click)="deletePost(PostID)" class="btn btn-danger" style="font-size: 12px; margin-top: 1vh; margin-left: 0%;">Delete</button>
      </li>
    </ul><br>
  </div>
</div>