<header class="sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/Logo-Fitspace.png" class="logo" alt="Missing Logo">
    </a>
    <nav>
      <ul class="nav-links">

        <li><a href="Home">Home</a></li>

        <li><a href="Community">Community</a></li>

        <li><a href="Create">Create</a></li>

        <li><a href="MyActivity">My Activity</a></li>

         <li><!--<a href="Profile">Profile</a>--><button (click)="viewUser(userID)">Profile</button></li> 

      </ul>
    </nav>
  </div>

</header>